:root {
    --shadow-color:#0000005c;
}
* {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    color:#fff;
    overflow: hidden;
    background: #0b0d10;
}

$primary:#00bdd6;


$mobile-size: 630px;
$mobile-min-size: 340px;


.text {
    color: var(--primary);
}
.material-icons {
    font-family: 'Material Icons';
    display: inline-flex;
    align-items: center;
    font-size: 24px;
    font-style: normal;
    // text-decoration: none;
    font-weight: 400;
    height: 24px;
    width: 24px;
    overflow: hidden;
    user-select: none;
}
//Sections

.UI-notes-manager {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}

.SimulateBox {
    height: 83px;
}

//Buttons
.CreateBtn {
    background: #80808081;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    font-size: 18px;
    padding: 13px 0px;
    margin: 15px 0px;
    cursor: pointer;
    color: var(--primary);
    width: 80%;
    user-select: none;
    margin: 20px auto 20px auto;
    &:hover {
        background: #616161;
    }
}
.btn {
    background: transparent;
    display: inline-flex;
    border-radius: 3px;
    border: none;
    background: #727272;
    font-family: sans-serif;
    &:nth-child(1) {
        border: none;
    }
    &.texted {
        i {
            margin-right: 5px;
        }
    }
    span {
        display: flex;
    }
    padding: 5px 25px;
    margin: 5px 10px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    transition: background ease 100ms;
    &:hover {
        background: var(--primary);
    }
}
.FloatBtn {
    display: flex;
    position: fixed;
    border-radius: 50%;
    padding: 15px;
    bottom: 50px;
    right: 25px;
    outline: none;
    cursor: pointer;
    transition: background ease 100ms,right ease .2s;
    background: var(--primary);
    z-index: 40;
    .material-icons {
        color: white;
    }
    &.ocult {
        transition: background ease 100ms,right ease 100ms;
        right: -55px;
    }
    &:hover {
        background: #008fa1;
    }
}

//messages
.NoNotes {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    & > div {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateY(-80px);
        opacity: 0;
        animation: NoNotes ease forwards .4s;
    }
    i {
        display: flex;
        justify-content: center;
        color: #ffffff52;
        font-size: 100px;
        width: 100px;
        height: 100px;
    }
    span {
        padding: 10px 0;
        color: #d6d5d5;
        user-select: none;
        display: flex;
        justify-content: center;
    }
    &.NoResult {
        animation: none;
    }
}
@keyframes NoNotes {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

//Window Editor
@keyframes iniAddBTN {
    0% {
        transform: translateX(25px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

//imports
@import "components/Header";

@import "sweetalert";
//components
@import "components/Editor";
@import "components/noteItem";
@import "components/sections";
@import "components/selectBox";

//controllers
@import "controllers/AuxMenu";
@import "controllers/JSONMenu";
@import "controllers/MoveFolder";
@import "controllers/dropzone";