
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

$primary: #f88706;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body {
    overflow: hidden;
    background: #010101;
    position: relative;
}
:root {
    --notes-width:250px;
    --row-increment:1px;
}

.notes-preview-container {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill,var(--notes-width));
    grid-auto-rows: var(--row-increment);
    justify-content: center;
    gap:10px;
    // display: inline-flex;
    // flex-wrap: wrap;
    // align-items: baseline;
    // width: 100%;
    // max-height: 90vh;
    position: relative;
    // max-height: calc(100vh - 49px);
    overflow: auto;
    z-index: 1;
    .note-preview {
        // grid-row-end: span 4;
        cursor: pointer;
        display: inline-block;
        flex-wrap: wrap;
        padding: 13px;
        height:fit-content;
        // width: 310px;
        position: relative;
        z-index: 1;
        user-select: none;
        border-radius: 10px;
        transform-origin: center top;
        background: #1f1f1f;
        // margin: 10px;
        // max-width: 50%;
        &.none {
            display: none !important;
        }
        .note,.date,.more {
            color: #848484;
            display: block;
            width: 100%;
        }
        .date {
            font-size: 13px;
            margin-top: 14px;
        }
        .note {
            font-size: 16px;
            &:first-line {
                color: white;
                font-weight: 700;
            }
            word-break:break-word;
        }
        .select {
            display: none;
            position: absolute;
            bottom: 5px;
            right: 5px;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            border: 2px solid #3c3c3c;
            background: #2c2c2c;
            &.active {
                border: 2px solid $primary;
                background: $primary;
                .line {
                    
                    width: 12px;
                    display: block;
                    height: 3px;
                    position: absolute;
                    background: white;
                    transform: rotate(-45deg);
                    left: 3px;
                    bottom: 6px;
                    &::before {
                        content: '';
                        position: absolute;
                        display: block;
                        bottom:0px;
                        width: 3px;
                        height: 7px;
                        background: white;
                    }
                }
            }
        }

        &.selectmode {
            .select {
                display: block;
            }
        }
    }
}
@keyframes ini_note {
    0% {
        transform: translateY(25px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes iniHeader {
    0% {
        transform: translateY(-25px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes iniAddBTN {
    0% {
        transform: translateX(25px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
.note__part {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: flex-start;
    width: 50%;
}
.header {
    position: sticky;
    padding: 10px 0px;
    background: #333333;
    // border-radius: 0px 0px 25px 25px;
    transition:border-radius ease .5s ;
    z-index: 30;
    .tab {
        display: flex;
        align-items: center;
        text-align: center;
        user-select: none;
        cursor: pointer;
    }
    & > div {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .selectedIndicate {
        color: white;
        display: flex;
        justify-content: space-between;
        padding: 15px;
        padding-top: 10px;
        padding-bottom: 0px;
        .item {
            cursor: pointer;
            &:hover{
                color: $primary;
            }
        }
    }
    // border-bottom: 1px solid #1f1f1f;
    animation: iniHeader ease forwards 500ms;
    .tab {
        font-size: 24px;
        font-weight: bold;
        text-transform: capitalize;
        color:white;
        padding: 0px 15px;
        display: flex;
        align-items: center;
        &.active {
            color:$primary;
        }
    }
}

.note-editor-capm {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #010101;
    display: grid;
    grid-template-rows: 48px 1fr;
    .editor-header {
        display: flex;
        width: 100%;
        height: 48px;
        justify-content: space-between;
        align-items: center;
        .lefting-part {
            display: flex;
            div {
                margin: 0px ;
            }
            margin-right: 10px;
            
        }
        .atras {
            display: inline-flex;
            margin-left:10px ;
            cursor: pointer;
            align-content: center;
            align-items: center;
        }
        .note_name {
            display: inline-flex;
            margin-left:10px ;
            align-content: center;
            align-items: center;
            color: white;
            flex-wrap: wrap;
            height: 18px;
            overflow: hidden;
            .container {
                top: -10px;
                &.saving {
                    top: 9px;
                }
                position: relative;
                width: 100%;
                transition: top ease 250ms;
                .name {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    outline: none;
                    caret-color: orange;
                    &:focus-visible {
                        background: #8080805c;
                        border-radius: 3px;
                    }
                }
                .saved {
                    display: flex;
                    justify-content: center;
                    width: 100%;
    
                }
            }
        }
        .save {
            display: inline-flex;
            margin-right:10px ;
            align-content: center;
            cursor: pointer;
            align-items: center;
        }
        .OpenSubMenu {
            cursor: pointer;
            display: inline-flex;
            align-content: center;
            i {
                margin-right: 10px;
                font-size: 26px;
                display: flex;
                align-items: center;
            }
            align-items: center;
        }
        
        .material-icons {
            font-size: 36px;
            height: 36px;
            color: $primary;
            user-select: none;
        }
    }
    .note-editor {
        width: 100%;
        display: grid;
        grid-template-rows: 37px 1fr;

        .note-data {
            width: 100%;
            padding: 10px;
            font-size: 14px;
            color: #848484;
            user-select: none;
        }
        .note-capm {
            width: 100%;
            caret-color: orange;
            background: black;
            padding: 10px;
            outline: none;
            color: white;
            overflow: auto;
            &,div,br,b,u,i,searched{
                &::selection {
                    background: #ffa600b4;
                }
            }
            searched {
                color: $primary;
            }
        }      

    }
        
}
.material-icons {
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga';
}


.addButton {
    display: flex;
    position: fixed;
    animation: iniAddBTN ease forwards 500ms;
    border-radius: 50%;
    padding: 15px;
    bottom: 50px;
    right: 25px;
    outline: none;
    cursor: pointer;
    transition: background ease 100ms;
    background: orange;
    z-index: 20;
    .material-icons {
        color: white;
    }
    &:hover {
        background: #d38900;

    }
}


.selected_capm {
    position: absolute;
    display: flex;
    // border-radius: 25px 25px 0px 0px;
    border-radius: 8px;
    overflow: hidden;
    bottom: -150px;
    
    &.active{
        // bottom: 0px;
        bottom: 5px;
    }
    &.forze {
        // bottom: 0px !important;
        bottom: 5px !important;
    }
    transition: bottom ease 250ms;
    // left: 0px;
    // right: 0px;
    left: 5px;
    right: 5px;
    padding: 10px;
    background: #333333;
    flex-direction: column;
    align-items: center;
    .titles {
        color: white;
        margin-bottom: 5px;
    }
    .item {
        background: transparent;
        display: inline-flex;
        border-radius: 3px;
        border: none;
        background: #727272;
        &:nth-child(1) {
            border: none;
        }
        &.texted {
            i {
                margin-right: 5px;
            }
        }
        span {
            display: flex;
        }
        padding: 5px 25px;
        margin: 5px 10px;
        font-weight: 700;
        color: white;
        cursor: pointer;
        transition: background ease 100ms;
        &:hover,&.active {
            background: orange;
        }
    }
}
.superspace {
    display: block;
    width: 100%;
    height: 150px;
}

.SelectBox {
    @extend .selected_capm;
    position: fixed;
    left: 0px;
    right: 0px;
    border-radius: 25px 25px 0px 0px;
    z-index: 28;
    &.active {
        bottom: 0px;
    }

}

.swal2-modal {
    background: #333333 !important;
    padding: 0 !important;
    padding-top: 1.25em !important;
    overflow: hidden !important;
    .swal2-title {
        
        color: white  !important;
    }
    .swal2-content {
        color: #aeaeae !important;
    }
    .swal2-confirm {
        padding: 20px !important;
        text-transform: uppercase !important;
        background: transparent !important;
        border-top: 2px solid #FF5722 !important;
        border-radius: 0px !important;
        outline: 0px !important;
        box-shadow: none !important;
        width: 100% !important;
        margin: 0px !important;
        transition: color ease .25s, background ease .25s !important;
        &:hover {
            background: transparentize($primary,0.9)  !important;
            color: $primary !important;
        }
    }
    .swal2-input {
        
        &:focus {
            border: 2px solid $primary !important;
            box-shadow: none !important;
        }
    }
}

.folderSection {
    position: absolute;
    z-index: 29;
    background: transparent;
    height: 100vh;
    top: 98%;
    .container {
        display: flex;
        height: auto ;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        background: #333333;
        border-radius: 0px 0px 25px 25px;
        height: fit-content;
        .folder {
            display: flex;
            width: 100%;
            height: auto;
            padding: 15px 30px;
            justify-content: space-between;
            span {
                display: flex;
                align-items: center;
                i {
                    font-size: 15px;
                    margin-right: 10px;
                }
            }
            color: grey;
            cursor: pointer;
            &:hover {
                background: #ffffff21;
            }
            i {
                opacity: 0;
            }
            &.active {
                span {
                    color: $primary;
                }
                i {
                    opacity: 1;
                }
            }
        }
    }
}

.addftbtn {
    background: #80808081;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    font-size: 18px;
    padding: 13px 0px;
    margin: 15px 0px;
    cursor: pointer;
    color: $primary;
    width: 80%;
    user-select: none;
    &:hover {
        background: grey;
    }
}
.notes-preview-container.not {
    display: flex;
    justify-content: center;
    align-content: center;
    // height: 100vh;

}
.NoNotes {
    color: white;
    display: flex;
    flex-direction: column;
    animation: ini_note ease .5s;
    justify-content: center;
    i {
        display: flex;
        justify-content: center;
        color: #ffffff52;
        font-size: 100px;
        user-select: none;
    }
    span {
        display: flex;
        justify-content: center;
    }
    &.NoResult {
        animation: none;
    }
    .btn {
        background: transparent;
        display: inline-flex;
        border-radius: 3px;
        border: none;
        background: #727272;
        &:nth-child(1) {
            border: none;
        }
        &.texted {
            i {
                margin-right: 5px;
            }
        }
        span {
            display: flex;
        }
        padding: 5px 25px;
        margin: 5px 10px;
        font-weight: 700;
        color: white;
        cursor: pointer;
        transition: background ease 100ms;
        &:hover {
            background: orange;
        }
    }
}

// PC MENUS
.NotasMenu {
    display: grid;
    height: calc(100vh - 49px);
    grid-template-columns: 250px 1fr;
    .foldersMenu {
        h2 {
            color: $primary;
            padding: 10px;
            user-select: none;
        }
        background:#272727;
        border-right: 1px solid #242424;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .container {
            display: flex;
            flex-wrap: wrap;
        }
        .folder {
            display: flex;
            width: 100%;
            height: auto;
            padding: 15px 30px;
            user-select: none;
            justify-content: space-between;
            span {
                display: flex;
                align-items: center;
                user-select: none;
                i {
                    font-size: 15px;
                    margin-right: 10px;
                }
            }
            color: grey;
            cursor: pointer;
            &:hover {
                background: #ffffff21;
            }
            i {
                user-select: none;
                opacity: 0;
            }
            &.active {
                span {
                    color: $primary;
                }
                i {
                    opacity: 1;
                }
            }
        }
    }
    .NotasInteract {
        overflow: hidden;
        display: grid;
        grid-template-rows: auto 1fr 36px;
        .activeEditors {
            height: 36px;
            width: 100%;
            display: flex;
            background: #2b2b2b;
            .editortab {
                display: inline-flex;
                padding: 0px 10px;
                border: 1px solid #272727;
                align-items: center;
                height: 100%;
                background: #4b4b4b;
                .icon {
                    padding-right: 10px;
                    img{
                        border-radius: 3px;
                        width: 16px;
                        height: 16px;
                        -webkit-user-drag: none;
                    }
                }
                span {
                    color: white;
                    user-select: none;
                }
                i {
                    color: white;
                    font-size: 14px;
                    border-radius: 50px;
                    padding: 3px;
                    margin: 0 0 0 5px;
                    user-select: none;
                    cursor: pointer;
                    &:hover {
                        background: #ffffff56;
                    }
                }
            }
        }
        .search {
            display: flex;
            justify-content: center;
            margin-top: 10px;
            // background: red;
            i {
                user-select: none;
                cursor: pointer;
                color: white;
                &:hover {
                    color: $primary;
                }
                &:nth-child(1) {
                    margin-right: 10px;
                }
                &:nth-child(3) {
                    display: none;
                }
            }
            &container {
                border-radius: 25px;
                background: #80808093;
                width: 80%;
                padding: 8px 12px;
                input {
                    color: white;
                    background: none;
                    outline: none;
                    border: none;
                    &::placeholder {
                        color: #ffffff96;
                    }
                    &::selection{
                        background: transparentize($primary,0.55);
                    }
                }
                label {
                    display: grid;
                    grid-template-columns: auto 1fr;
                }
                &.active {
                    label {
                        grid-template-columns: auto 1fr auto;
                    }
                    i {
                        &:nth-child(3) {
                            display: initial;
                        }
                    }
                }
            }
        }
    }
}

.Editor {
    display: grid;
    grid-template-rows: 36px 1fr;
    position: absolute;
    background: rgb(0, 0, 0);
    animation: openeditor ease .2s;
    max-width: 98vw;
    z-index: 40;
    width: 700px;
    border-radius: 8px;
    // overflow: hidden;
    height: 600px;
    &.noanimation {
        animation: none;
    }
    .window {
        display: flex;
        border-radius: 8px 8px 0 0;
        overflow: hidden;
        justify-content: space-between;
        align-items: center;
        background: #6b6b6b;
        width: 100%;
        height: 36px;
        .title {
            margin-left: 10px;
            display: flex;
            color: white;
            user-select: none;
            img {
                border-radius: 4px;
                width: 18px;
                height: 18px;
                margin-right: 10px;
                -webkit-user-drag: none;
                user-select: none;
            }
        }
        .btns {
            height: 100%;
            .wbtn {
                user-select: none;
                height: 100%;
                display: flex;
                align-items: center ;
                padding: 0px 10px;
                color: white;
                background: rgb(53, 53, 53);
                cursor: pointer;
                i {
                    pointer-events: none;
                }
                &:hover {
                    background: rgb(153, 0, 0);
                }
            }
        }
    }

    .usereditor {
        position: relative;
        border:1px solid #6b6b6b;
        border-radius: 0px 0px 9px 9px;
        border-top: 0px;
        overflow: hidden;
        z-index: 40;
        .note-editor-capm {
            position: relative;
            width: 100%;
            height: 100%;
            top:0px;
            left: 0px;
            .note-capm  {
                // background: red;
                overflow-y: auto;
            }
            .selected_capm {
                bottom: -150px;
                &.active {
                    bottom: 5px;
                }
            }
        }
    }

    .expandiblewindow {
        position: absolute;
        cursor: se-resize;
        bottom: 0px;
        right: 0px;
        width: 10px;
        height: 10px;
        z-index: 50;
        &:active {
            $w: 300px;
            position: fixed;
            width: 100vw;
            height: 100vh !important;
            top: 0px;
            height: 0px;
            
        }
    }
}
@keyframes openeditor {
    0% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

@media (min-width: 500px) {
    .NoteTab {
        i {
            display: none;
        }
    }
}
@media (max-width: 500px) {
    .selected_capm {
        border-radius: 25px 25px 0px 0px !important;
        &.active{
            bottom: 0px !important;
        }
        &.forze {
            bottom: 0px !important;
        }
        left: 0px;
        right: 0px;
    }
    .notes-preview-container {
        grid-template-columns: repeat(2,1fr);
    }
    .NotasMenu {
        grid-template-columns: 1fr;
        .foldersMenu {
            display: none;
        }
        .NotasInteract {
            grid-template-rows: 1fr;
            .activeEditors {
                display: none;
            }
        }
    }
    .Editor {
        position: fixed;
        left: 0px !important;
        top: 0px !important;
        height: 100vh !important;
        width: 100vw !important;
        grid-template-rows: 1fr;
        transition: transform ease .3s;
        transform: translateX(100%);
        max-height: 100vh !important;
        max-width: 100vw !important;
        animation: openeditorandroid forwards .3s !important;

        .window {
            display: none;
        }
        .usereditor {
            border-radius: 0px;
            border: none;
        }
    }
}
@keyframes openeditorandroid {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

