.Editor-window {
    --primary: var(var(--primary));
    --menucolor: #333333;
    --scrollbar-bg: #292929;
    display: grid;
    grid-template-rows: 36px 1fr;
    position: absolute;
    background: rgb(0, 0, 0);
    animation: OpenEditorAnimation ease .2s;
    max-width: 98vw;
    z-index: 41;
    width: 700px;
    border-radius: 8px;
    height: 600px;
    position: fixed;
    left: 100px;
    top: 200px;
    &.noanimation {
        animation: none;
    }
    .window-header {
        display: flex;
        border-radius: 8px 8px 0 0;
        justify-content: space-between;
        align-items: center;
        background: #6b6b6b;
        width: 100%;
        height: 36px;
        .window-title {
            margin-left: 10px;
            display: flex;
            align-items: center;
            color: white;
            user-select: none;
            img {
                border-radius: 4px;
                width: 18px;
                height: 18px;
                margin-right: 10px;
                -webkit-user-drag: none;
                user-select: none;
            }
        }
        .window-buttons {
            height: 100%;
            .wbtn {
                user-select: none;
                height: 100%;
                display: flex;
                align-items: center ;
                padding: 0px 10px;
                color: white;
                background: rgb(53, 53, 53);
                border-radius: 0px 8px 0px 0px;
                cursor: pointer;
                i {
                    pointer-events: none;
                }
                &:hover {
                    background: rgb(153, 0, 0);
                }
            }
        }
        .dontSavedIndicator {
            width: 5px;
            height: 5px;
            border-radius: 5px;
            background: red;
            display: flex;
            background: white;
            align-content: center;
            margin-left: 5px;
            // translate: 0px 2px;
        }
        .dontSavedTooltip {
            span {
                font-size: 14px;
            }
        }
    }

    .editor-ui-container {
        position: relative;
        border:1px solid #6b6b6b;
        border-radius: 0px 0px 9px 9px;
        border-top: 0px;
        overflow: hidden;
        z-index: 40;
        .editor-ui {
            position: relative;
            width: calc(100% - 5px);
            height: 100%;
            top:0px;
            left: 0px;
        
            .content-editable-input  {
                margin-right:5px ;
                margin-bottom:5px ;
                overflow-y: auto;
                &::-webkit-scrollbar {
                    width: 8px;
                    background: var(--scrollbar-bg);
                    border-radius: 5px;
                }

                &::-webkit-scrollbar-thumb {
                    width: 8px;
                    cursor: pointer;
                    background: var(--primary);
                    border-radius: 5px;
                }
            }
            .texture-menu-container {
                bottom: -150px;
                &.active {
                    bottom: 5px;
                }

            }
        }
    }

    .window-resize-btn {
        position: absolute;
        cursor: se-resize;
        bottom: 0px;
        right: 0px;
        width: 10px;
        height: 10px;
        z-index: 50;
        &:active {
            $w: 300px;
            position: fixed;
            width: 100vw;
            height: 100vh !important;
            top: 0px;
            height: 0px;
            
        }
    }

    .editor-ui {
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #010101;
        display: grid;
        grid-template-rows: 48px 1fr;
        .editor-ui-header {
            display: flex;
            width: 100%;
            height: 48px;
            justify-content: space-between;
            align-items: center;
            .warn-btn {
                .material-icons {
                    color: #f84c4c;
                }
            }
            .left-part {
                display: flex;
                div {
                    margin: 0px ;
                }
                margin-left: 10px;
            }
            .right-part {
                display: flex;
                div {
                    margin: 0px ;
                }
                margin-right: 10px;
            }
            .back-btn {
                display: inline-flex;
                margin-left:10px ;
                cursor: pointer;
                align-content: center;
                align-items: center;
            }
            .editor-ui-note-name {
                display: inline-flex;
                margin-left:10px ;
                align-content: center;
                align-items: center;
                color: white;
                flex-wrap: wrap;
                height: 18px;
                overflow: hidden;
                appearance: none;
                &:hover {
                    background: #8080805c;
                    border-radius: 3px;
                }
                .editor-ui-note-name-container {
                    top: -10px;
                    &.saving {
                        top: 9px;
                    }
                    position: relative;
                    width: 100%;
                    transition: top ease 250ms;
                    .name-input {
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        outline: none;
                        caret-color: var(--primary);
                        background: transparent;
                        outline: none;
                        border: none;
                        color: white;
                        text-align: center;
                        font-size: 16px;
                        padding: 1px 3px;
                        border-radius: 3px;
                        &::selection {
                            background: #008fa1b4;
                        }
                    }
                    .save-placeholder {
                        display: flex;
                        justify-content: center;
                        width: 100%;
                    }
                }
            }
            .save-btn {
                display: inline-flex;
                margin-right:10px ;
                align-content: center;
                cursor: pointer;
                align-items: center;
            }
            .menu-btn {
                cursor: pointer;
                display: inline-flex;
                align-content: center;
                margin-right: 15px !important;
                i {
                    font-size: 26px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                align-items: center;
                &[data-actived="true"] {
                    i {
                        color: #bee7f9;
                    }
                    background: transparent;
                }
            }
            .EditorTooltip {
                font-size: 13px;
            }

            .material-icons {
                font-size: 36px;
                width: 36px;
                height: 36px;
                color: var(--primary);
                user-select: none;
            }
        }
        .editor-ui-content-container {
            width: 100%;
            display: grid;
            grid-template-rows: 37px 1fr;
    
            .editor-date {
                width: 100%;
                padding: 10px;
                font-size: 14px;
                color: #848484;
                user-select: none;
            }
            .content-editable-input {
                width: 100%;
                caret-color: var(--primary);
                padding: 10px;
                outline: none;
                color: white;
                overflow: auto;
                &,div,br,b,u,i,searched{
                    font-family: sans-serif;
                    &::selection {
                        background: #008fa1b4;
                    }
                }
                searched {
                    color: $primary;
                }
            }      
    
        }
            
    }

    .texture-menu-container {
        position: absolute;
        display: flex;
        border-radius: 8px;
        overflow: hidden;
        bottom: -150px;
        transition: bottom ease 250ms;
        left: 5px;
        right: 0px;
        padding: 10px;
        background: var(--menucolor);
        flex-direction: column;
        align-items: center;
        &[data-active="true"]{
            bottom: 5px !important;
        }
        &.forze {
            bottom: 5px !important;
        }
        .AutoOpenBtn {
            top: 5px;
            right: 10px;
            position: absolute;
            cursor: pointer;
            color: white;
            &:hover {
                color: var(--primary);
            }
        }
        .menu-title {
            color: white;
            margin-bottom: 5px;
        }
        .item {
            background: transparent;
            display: inline-flex;
            border-radius: 3px;
            border: none;
            background: #727272;
            &:nth-child(1) {
                border: none;
            }
            &.texted {
                i {
                    margin-right: 5px;
                }
            }
            span {
                display: flex;
            }
            padding: 5px 25px;
            margin: 5px 10px;
            font-weight: 700;
            color: white;
            cursor: pointer;
            transition: background ease 100ms;
            &:hover,&[data-active="true"] {
                background: var(--primary);
            }
        }
    }

    .theme-menu-container {
        position: absolute;
        display: flex;
        border-radius: 8px;
        overflow: hidden;
        bottom: -150px;
        &[data-active="true"]{
            bottom: 5px !important;
        }
        transition: bottom ease 250ms;
        left: 5px;
        right: 0px;
        padding: 10px;
        background: var(--menucolor);
        flex-direction: column;
        align-items: center;
        .menu-title {
            color: white;
            margin-bottom: 5px;
            
        }
        .menu-items-container {
            // padding: 0px 20px;
            width: 100%;
            overflow: auto;
            margin-top: 10px;
            display: flex;
            gap: 20px;
        }
        .themeBtn {
            display: flex;
            flex-direction: column;
            cursor: pointer;
            align-items: center;
            .icon-theme {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 48px;
                aspect-ratio: 1/1;
                background: #646464;
                border-radius: 4px;
                border: 1px solid #181818;
                box-shadow: 0 0 0 2px var(--menucolor),inset 0px 14px 0 0 #0000003d;
                margin-bottom: 7px;
                user-select: none;
            }
            &[data-selected="true"] .icon-theme{
                box-shadow: 0 0 0 1px var(--menucolor), 0 0 0 2px var(--primary), inset 0px 14px 0 0 #0000003d;
            }
            .name-theme {
                font-size: 14px;
                text-align: center;
                color: #b8b8b8;
                user-select: none;
            }
            &[data-theme="yellow"] {
                .icon-theme {
                    border-color: #6e693a;
                    background: #faf9b2;
                    color: #8d864a;
                }
            }
            &[data-theme="red"] {
                .icon-theme {
                    border-color: #6e3a3a;
                    background: #fac7c7;
                    color: #8d4a4a;
                }
            }
            &[data-theme="green"] {
                .icon-theme {
                    border-color: #5a6e3a;
                    background: #e2fac3;
                    color: #738d4a;
                }
            }
            &[data-theme="blue"] {
                .icon-theme {
                    border-color: #2f434b;
                    background: #c3edfd;
                    color: #517280;
                }
            }
            &[data-theme="purple"] {
                .icon-theme {
                    border-color: #3c2f4b;
                    background: #e6c3fd;
                    color: #6b5180;
                }
            }
        }
    }

    &.closing > * {
        pointer-events: none;
    }
    //TEMAS
    &[data-theme="green"] {
        --primary:#738d4a;
        --menucolor:#454e2b;
        --scrollbar-bg: #91a86d;
       
        .editor-ui,.editor-ui-container {
            background: #e2fac3;
        }
        .menu-btn[data-actived="true"] i{
            color: #8dbf4d !important;
        }
        .texture-menu-container {
            .menu-items-container .item {
                background: #ffffff3b !important;
                &:hover,&[data-active="true"] {
                    background: #8dbf4d !important;
                }
            }
        }
        .content-editable-input {
            background: #e2fac3;
            color: #738d4a !important;
            caret-color: #738d4a !important;
            &,div,br,b,u,i,span {
                color: #738d4a !important;
                &::selection {
                    background: #738d4ab4 !important;
                }
            }
        }
        .editor-date {
            color: #454e2b !important;
        }
        .editor-ui-note-name {
            .name-input,.save-placeholder {
                color:var(--primary) !important;
                &::selection {
                    background: #738d4ab4 !important;
                }
            }
        }
    }
    &[data-theme="red"] {
        --primary:#6e3a3a;
        --menucolor:#4e2f2b;
        --scrollbar-bg: #a86d6d;

        .editor-ui,.editor-ui-container {
            background: #fac7c7;
        }
        .menu-btn[data-actived="true"] i{
            color: #ad3838 !important;
        }
        .texture-menu-container {
            .menu-items-container .item {
                background: #ffffff3b !important;
                &:hover,&[data-active="true"] {
                    background: #ad3838 !important;
                }
            }
        }
        .content-editable-input {
            background: #fac7c7;
            color: #8d4a4a !important;
            caret-color: #8d4a4a !important;
            &,div,br,b,u,i,span {
                color: #8d4a4a !important;
                &::selection {
                    background: #8d4a4ab4 !important;
                }
            }
        }
        .editor-date {
            color: #4e2f2b !important;
        }
        .editor-ui-note-name {
            .name-input,.save-placeholder {
                color:var(--primary) !important;
                &::selection {
                    background: #8d4a4ab4 !important;
                }
            }
        }
    }
    &[data-theme="blue"] {
        --primary:#3d555e;
        --menucolor:#273d44;
        --scrollbar-bg: #6da1a8;
        .editor-ui,.editor-ui-container {
            background: #c3edfd;
        }
        .menu-btn[data-actived="true"] i{
            color: #517280 !important;
        }
        .texture-menu-container {
            .menu-items-container .item {
                background: #ffffff3b !important;
                &:hover,&[data-active="true"] {
                    background: #336e80 !important;
                }
            }
        }
        .content-editable-input {
            background: #c3edfd;
            color: #517280 !important;
            caret-color: #517280 !important;
            &,div,br,b,u,i,span {
                color: #517280 !important;
                &::selection {
                    background: #517280b4 !important;
                }
            }
        }
        .editor-date {
            color: #2f434b !important;
        }
        .editor-ui-note-name {
            .name-input,.save-placeholder {
                color:var(--primary) !important;
                &::selection {
                    background: #517280b4 !important;
                }
            }
        }
    }
    &[data-theme="yellow"] {
        --primary:#6e693a;
        --menucolor:#5a562f;
        --scrollbar-bg: #a8a76d;

        .editor-ui,.editor-ui-container {
            background: #faf9b2;
        }
        .menu-btn[data-actived="true"] i{
            color: #8d864a !important;
        }
        .texture-menu-container {
            .menu-items-container .item {
                background: #ffffff3b !important;
                &:hover,&[data-active="true"] {
                    background: #837a2e !important;
                }
            }
        }
        .content-editable-input {
            background: #faf9b2;
            color: #8d864a !important;
            caret-color: #8d864a !important;
            &,div,br,b,u,i,span {
                color: #8d864a !important;
                &::selection {
                    background: #8d864ab4 !important;
                }
            }
        }
        .editor-date {
            color: #5a562f !important;
        }
        .editor-ui-note-name {
            .name-input,.save-placeholder {
                color:var(--primary) !important;
                &::selection {
                    background: #8d864ab4 !important;
                }
            }
        }
    }
    &[data-theme="purple"] {
        --primary:#523d5e;
        --menucolor:#382744;
        --scrollbar-bg: #906da8;
        .editor-ui,.editor-ui-container {
            background: #e8c3fd;
        }
        .menu-btn[data-actived="true"] i{
            color: #715180 !important;
        }
        .texture-menu-container {
            .menu-items-container .item {
                background: #ffffff3b !important;
                &:hover,&[data-active="true"] {
                    background: #613380 !important;
                }
            }
        }
        .content-editable-input {
            background: #e6c3fd;
            color: #775180 !important;
            caret-color: #755180 !important;
            &,div,br,b,u,i,span {
                color: #755180 !important;
                &::selection {
                    background: #715180b4 !important;
                }
            }
        }
        .editor-date {
            color: #402f4b !important;
        }
        .editor-ui-note-name {
            .name-input,.save-placeholder {
                color:var(--primary) !important;
                &::selection {
                    background: #735180b4 !important;
                }
            }
        }
    }
}
@keyframes OpenEditorAnimation {
    0% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes OpenEditorAnimationMobile {
    0% {
        transform: translateX(100vw);
    }
    100% {
        transform: translate(0);
    }
}

.active-editors-tab-container {
    height: 36px;
    width: 100%;
    display: flex;
    overflow: hidden;
    background: #2b2b2b;
    .Editor-tab {
        display: inline-flex;
        padding: 0px 10px;
        border: 1px solid #272727;
        align-items: center;
        height: 100%;
        background: #4b4b4b;
        .icon {
            display: inline-flex;
            align-items: center;
            padding-right: 10px;

            img{
                border-radius: 3px;
                width: 16px;
                height: 16px;
                -webkit-user-drag: none;
            }
        }
        span {
            color: white;
            user-select: none;
        }
        i {
            color: white;
            width: 20px;
            height: 20px;
            font-size: 14px;
            border-radius: 50px;
            padding: 3px;
            margin: 0 0 0 5px;
            user-select: none;
            cursor: pointer;
            &:hover {
                background: #ffffff56;
            }
        }
        &[data-theme="red"] {
            border-color: #4e2f2b;
            background: #fac7c7;
            span,i {
                color: #8d4a4a;
            }
            i:hover {
                background: #ad38386e;
            }
        }
        &[data-theme="green"] {
            border-color: #8dbf4d;
            background: #e2fac3;
            span,i {
                color: #738d4a;
            }
            i:hover {
                background: #8dbf4d6e;
            }
        }
        &[data-theme="yellow"] {
            border-color: #8d864a;
            background: #faf9b2;
            span,i {
                color: #8d864a;
            }
            i:hover {
                background: #837a2e6e;
            }
        }
        &[data-theme="blue"] {
            border-color: #3d555e;
            background: #c3edfd;
            span,i {
                color: #3d555e;
            }
            i:hover {
                background: #336e806e;
            }
        }
        &[data-theme="purple"] {
            border-color: #553d5e;
            background: #e8c3fd;
            span,i {
                color: #553d5e;
            }
            i:hover {
                background: #6433806e;
            }
        }
    }
}


@media (max-width: $mobile-size) {
    .Editor-window {
        position: fixed !important;
        
        animation: OpenEditorAnimationMobile ease .25s;

        min-width: unset !important;
        inset: 0px !important;
        height: unset !important;
        max-width: 100vw;
        width: unset !important;


        border-radius: 0;
        grid-template-rows: none;
        .window-header {
            display: none;
        }
        .editor-ui-container {
            border: none;
            border-radius: 0 !important;
        }
        .window-resize-btn {
            display: none;
        }
    }
}


