.SelectBox {
    background: #3c3c3c;
    position: absolute;
    left: 250px;
    right: 0px;
    z-index: 28;
    bottom: -130px;
    padding-bottom: 8px;
    transition: bottom ease .2s;
    &.visible {
        bottom: 0px;
    }
    .titles {
        color: white;
        display: block;
        width: 100%;
        padding: 10px 0px;
        text-align: center;
        user-select: none;
    }
    .div {
        display: flex;
        justify-content: center;
        .item {
            background: transparent;
            display: inline-flex;
            border-radius: 3px;
            align-items: center;
            border: none;
            background: #727272;
            padding: 5px 25px;
            margin: 5px 10px;
            font-weight: 700;
            color: white;
            cursor: pointer;
            user-select: none;
            font-family: sans-serif;
            padding: 5px 15px 5px 5px !important;
            i {
                display: flex;
                margin-right: 10px;
            }
            transition: background ease 100ms;
            &:hover,&.active {
                background: var(--primary);
            }
            &.disabled {
                pointer-events: none;
                opacity: 0.5;
            }
        }
    }
    &.active {
        bottom: 0px;
    }
    
}



@media (max-width: $mobile-size) {

    .SelectBox {
        position: fixed;
        // width: 10;
        left: 0;
        right: 0;
        .titles {
            display: none;
        }
        border-radius: 20px 20px 0px 0px;
        .div {
            .item {
                padding: 5px !important;
                display: grid;
                justify-items: center;
                font-size: 14px;
                background: none !important;
                font-weight: 400;
                
                .material-icons {
                    margin-right: 0px;
                    // color: white !important;
                }
                &:hover {
                    color: var(--primary);
                    
                    // background: transparentize($color: $primary, $amount: 0.6);
                }
                // background: red;
            }
        }
    }
}